body {
    background-image: url(https://www.freelogodesign.org/file/app/client/thumb/61f3d266-06a8-42e9-90a1-6e587f5aec57_200x200.png?1614973891654);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:  75px;
    background-color: rgb(226, 193, 199);
}